@model AItemViewModel

@{ TempData["idQ"] = ViewData["Qid"];}
@{ TempData["idP"] = ViewData["idCurrent"];}

<div class="container" style="font-family: 'Montserrat', sans-serif">
<div class="jumbotron bg-dark text-center text-light" style="font-family: 'Montserrat', sans-serif">
	<h1>A Items</h1>
	<h2>van</h2>
	<h2>@Model.Title</h2>
</div>
</div>
<div style="font-family: 'Montserrat', sans-serif" class="container position-relative">
	<div class="row">
		<div class="col-sm">
			<table class="table table-borderless font-weight-bold col-sm" style="width: 40rem">
				<tr>
					<th>
					</th>
				</tr>
				@foreach (var a in Model.AItems){
					<tr>
						<td>
							<div class="card mb-3 bg-dark text-light">
								<div class="card-header">
									<h5 style="color: #79a4d7">Q ITEM: @Model.Title</h5>
								</div>
								<div class="card-body">
									<h3 class="font-weight-bolder" style="color: #d4d269">@a.Title</h3>
								</div>
								<div class="card-footer">
									<form class="form" asp-controller="Delete" asp-action="DeleteAItem" method="post">
										<button asp-route-id="@a.ID" asp-controller="Delete" asp-action="DeleteAItem" type="submit" class="btn btn-danger font-weight-bold border-0" style="width: 7rem; height: 3rem; background: #d96363; color: #393939" onclick="return confirm('Are you sure you want to delete A item: @a.Title')">Delete</button>
									</form>
								</div>
							</div>
						</td>
					</tr>
				}
			</table>
		</div>
		<div class="card bg-dark position-sticky" style="z-index:50; top: 32.5%; right: 18%; width: 25rem; height: 20rem; margin-top: 2.2rem">
			<div class="card-header">
				<h3 class="text-center" style="color: #BCE26BFF">Create a new A</h3>
			</div>
			<div class="card-body text-light">
				<form asp-controller="Create" asp-action="CreateAItem" method="post" class="form-group">
					<div>
						<label asp-for="AItem.Title">Give your A a title.</label>
						<input class="form-control bg-dark text-light" asp-for="AItem.Title"/>
					</div>
					<div>
						<label asp-for="QId">Give your A a Q to match.</label>
						<select class="form-control bg-dark text-light" asp-for="QId">
							<option value="0">Please choose a Q</option>
							@{
								foreach (var x in Model.QConnectedByPollId){
									<option value="@x.ID">@x.Title</option>
								}
							}
						</select>
						@* <select class="form-control bg-dark text-light" asp-for="AItem.QID" asp-items="Model.Q"></select> *@
					</div>				
					<input type="submit" class="form-control mt-3 btn font-weight-bold border-0 GreenHoverTextButton" style="background: #5A6268; color: #bfbfbf" value="Create A">
				</form>
			</div>
		</div>
	</div>
</div>
