@using Microsoft.EntityFrameworkCore
@model QItemViewModel

@{
	TempData["id"] = ViewData["PollID"];
}

<div class="container" style="font-family: 'Montserrat', sans-serif; padding-left: 0; padding-right: 0">
	<div class="jumbotron bg-dark text-center text-light" style="font-family: 'Montserrat', sans-serif">
		<h1>Q Items</h1>
		<h2>van</h2>
		<h2>@Model.PollTitle</h2>
	</div>
</div>

<div style="font-family: 'Montserrat', sans-serif" class="container position-relative">
	<div class="row">
		<div class="col-sm">
			<table class="table table-borderless col-sm" style="width: 40rem">
				<tr>
					<th>
					</th>
				</tr>
				@foreach (var q in Model.QItems){
					// var x = Model.AItems.Count(a => a.QItemID == q.ID);
					var i = 0;
					foreach (var x in Model.AItems){
						if (x.QItemID == q.ID)
							i++;
					}
					<tr>
						<td>
							<div class="card mb-3 bg-dark text-light">
								<div class="card-header">
									<h5 style="color:#d4d269"> Aantal A's: @i</h5>
								</div>
								<div class="card-body">
									<h3 class="font-weight-bolder" style="color: #85b7ef; font-size: 1.8rem">@q.Title</h3>
								</div>
								<div class="card-footer d-flex justify-content-sm-around">
									<form class="form" asp-controller="Delete" asp-action="DeleteQItem" method="post">
										<button asp-route-id="@q.ID" asp-controller="Delete" asp-action="DeleteQItem" type="submit" class="btn btn-danger font-weight-bold border-0" style="width: 7rem; height: 3rem; background: #d96363; color: #393939" onclick="return confirm('Are you sure you want to delete Q item: @q.Title')">Delete</button>
									</form>
									<form class="form" asp-controller="Edit" asp-action="EditQItem" method="post">
										<button asp-route-id="@q.ID" asp-controller="Edit" asp-action="EditQItem" type="submit" class="btn btn-warning font-weight-bold border-0" style="width: 7rem; height: 3rem; background: #5A6268; color: #bfbfbf;">Edit</button>
									</form>
									<form class="form" asp-controller="Create" asp-action="AView" method="get">
										<button asp-route-id="@q.ID" asp-controller="Create" asp-action="AView" type="submit" class="btn btn-primary font-weight-bold border-0" style="width: 7rem; height: 3rem; background: #5A6268; color: #bfbfbf;">Go to A's</button>
									</form>	
									@{
										TempData["idCurrent"] = q.PollID;
								    }
								</div>
							</div>
						</td>
					</tr>
				}
			</table>
		</div>
		<div class="card bg-dark position-sticky" style="z-index:50; top: 32.5%; right: 18.5%; width: 25rem; height: 15rem; margin-top: 2.3rem">
			<div class="card-header">
				<h3 class="text-center" style="color: #BCE26BFF">Create a new Q</h3>
			</div>
			<div class="card-body text-light">
				<form asp-controller="Create" asp-action="CreateQItem" method="post" class="form-group">
					<div>
						<label asp-for="QCreateViewModel.Title">Give your Q a title.</label>
						<input class="form-control bg-dark text-light" asp-for="QCreateViewModel.Title"/>
					</div>
					<input type="submit" class="form-control mt-3 btn font-weight-bold border-0 GreenHoverTextButton" style="background: #5A6268; color: #bfbfbf" value="Create Q">
				</form>
			</div>
		</div>
	</div>
</div>
