@model QItemViewModel

<h1>@Model.PollTitle</h1>

@{
	TempData["id"] = ViewData["PollID"];
}

<div style="font-family: 'Montserrat', sans-serif" class="container">
	<div class="row">
		<div class="col-sm">
			<table class="table">
				<tr>
					<th>
						<h2>Q Items</h2>
					</th>
				</tr>
				@foreach (var q in Model.QItems){
					// var x = Model.AItems.Count(a => a.QItemID == q.ID);
					var i = 0;
					foreach (var x in Model.AItems){
						if (x.QItemID == q.ID)
							i++;
					}
					<tr>
						<td>
							<div class="card mb-3 bg-dark text-light">
								<div class="card-header">
									Q ITEM: @q.Title
								</div>
								<div class="card-body">
									<h5>Aantal A's: @i</h5>
								</div>
								<div class="card-footer">
									<form class="form" asp-controller="Delete" asp-action="DeleteQItem" method="post">
										<button asp-route-id="@q.ID" asp-controller="Delete" asp-action="DeleteQItem" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete Q item: @q.Title')">Delete</button>
									</form>
									@{
										TempData["idCurrent"] = q.PollID;
								    }
								</div>
							</div>
						</td>
					</tr>
				}
			</table>
		</div>
		<div class="col-sm">
			<form asp-controller="Create" asp-action="CreateQItem" method="post" class="form-group">
				<div>
					<label style="font-size: 2rem" asp-for="QCreateViewModel.Title">Titel eerste Q</label>
					<input class="form-control bg-dark text-light" asp-for="QCreateViewModel.Title"/>
				</div>
				<div>
					<label style="font-size: 2rem" asp-for="QCreateViewModel.AItem.Title">Titel eerste A</label>
					<input class="form-control bg-dark text-light" asp-for="QCreateViewModel.AItem.Title"/>
				</div>
				<input type="submit" class="form-control bg-dark text-light" value="Add Q">
			</form>
		</div>
	</div>
</div>
